---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Jay</title>
    </head>
    <body>
        <a href="">home</a>
        <a href="blog">blog</a>
        <a href="about">about</a>
        <div class="h-100 w-100 bg-red-300">here is my site</div>
        <div
            class="h-100 w-100 bg-amber-700"
            onclick='window.location = "www.google.com/"'
        >
            here is how to learn more about me
        </div>
    </body>
</html>
